*{
	margin:0;
	padding:0;
	font-family:calibri, segoe ui, aerial, tahoma, sans-serif;
}

body{
	background-color:#fff5e4;
}
h1, h2{ font-family:cambria;
	text-align:center;}

#wrapper{
	width : 900px;
	margin: 0 auto;
	overflow: hidden;
}
header{
	background: url(images/header.jpg) repeat-x #66CDAA;
	height : 110px;
	width : 100%;
	padding:5px;
	margin: 20px 0;
	overflow: hidden;
}
header img{ width:90px; height:70px;}

#menu-utama{
	margin-top:3px;
	list-style:none;
}
#menu-utama li{
	float:left;
	padding:8px 20px;
	border-right:1px solid #555555;
}

#menu-utama li a{
	color:#FFFFFF;
	text-decoration:none;
}

header form{
	float:right;
	margin-top:7px;
	margin-right:10px;
}
header form input{
	border:none;
	height:20px;
}
#daftar-artikel{
	width:470px;
	float:left;
}
#daftar-artikel h3 {text-indent: 60px;}
article{
	background:#B0E0E6;
	padding:10px;
	margin-bottom:20px;
	overflow:hidden;
}
article img{
	float:left;
	margin-left:1px;
	margin-right:5px;
	width:200px;
	height:165px;
}
article b{
	color:#616060;
	background:#DDDDDD;
	padding:3px;
	font-size:12px;
	font-weight:bold;
	margin-right:10px;
}
article p{
	margin:10px 0;
}
article a{
	display:block;
	text-align:right;
	color:#000000;
}
input[type="text"] {
	width: 200px;
	border:2px solid grey;
	padding: 2px;
}
input[type="email"] {
	width: 200px;
	border:2px solid grey;
	padding: 2px;
}
	
	
input[type="url"] {
	width: 200px;
	border:2px solid grey;
	padding: 2px;
}
	
input[type="submit"] {
	background-color: #000080;
	color: #FFFFFF;
	padding: 5px;
	margin-top: 10px;
}
	input[type="reset"] {
	background-color: #000080;
	color: #FFFFFF;
	padding: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
}
aside{
	width:270px;
	float:right;
}
aside h2{
	font-size:18px;
	margin:10px 0;
}
aside p{
	line-height:20px;
	color:#636363;
}
aside ul li a{
	color:#636363;
	text-decoration:none;
}
footer{
	clear:both;
	margin:20px 0;
	text-align:center;
	background-color:#00BFFF;
	padding:5px;
	color:#555555;
}
	
	
	
	